<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WealthFlow - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>


    @if (ViewData["Title"] != "Login")
    {

        <div class="row m-2">
            <div class="col-md-2 border-right">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="navbar-brand" href="/Dashboard">WealthFlow</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/User/MyAccount">My Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/Main/Transactions">Transactions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/Main/Category">Category</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" href="/Main/Keyword">Keyword</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>

    }
    else
    {
        <div class="container">
            <main role="main" class="pb-3">

                @RenderBody()
            </main>
        </div>
    }



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WealthFlow
        </div>
    </footer>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
